/* Add this to your global CSS file */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: #d1d5db transparent; /* Firefox */
  }